



.App-wrapper {
  text-align: center;
  width: 350px;
  height: 450px;
  max-height: 450px;
  background-color: #03244d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:start;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("au-background.png");
  background-size: cover;
  background-repeat: repeat;
}

.App-link {
  color: #dd550c;
}

.tabs {
  margin-bottom: 5px;
}


